/* font-family: 'Ysabeau', sans-serif;
font-family: 'Ysabeau SC', sans-serif; */

:root {
  --primary-color: #acdcee;
  --secondary-color: #2e94b9;
  --third-color: #f0fbff;
  --accent-color: #fd0054;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto 0;
  font-family: "Ysabeau", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Ysabeau SC", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* --------------- HOME PAGE --------------- */
.navbar {
  margin: auto;
  border-bottom: 2px solid var(--accent-color);
  background-color: rgba(255, 255, 255, 0.9);

  @media (min-width: 480px) {
    padding: 10px 30px;
  }
}

h1 {
  font-size: calc(3rem + 5vw);
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.main-info {
  max-width: 800px;
  margin: auto;
  padding-top: 30px;
  min-height: 85vh;
}

.main-info h1 {
  font-weight: 700;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
}

.navigation-links a {
  min-width: 150px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.contact-link:hover {
  background: var(--secondary-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
}

/* --------------- footer --------------- */

footer {
  min-height: 10vh;
  margin: 0;
  background: var(--third-color);
  padding: 20px 20px 5px;
}

.footer-list {
  font-weight: 100;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color);
}

.social-link_name {
  padding-left: 5px;
}

.footer {
  margin-top: 10px;
  text-align: center;
  font-weight: 100;
  font-size: small;
  color: var(--accent-color);
}

/* --------------- ABOUT PAGE --------------- */

.about h1,
.about h3 {
  text-align: center;
}

.about h4 {
  margin: 20px 10px 0;
  padding: 0 10px;
  color: var(--accent-color);
  font-weight: 700;

  @media (max-width: 480px) {
    margin: 0px;
  }
}
.about .container {
  margin: 0;
}

.container h4 {
  text-align: center;
}

.about .container li {
  font-size: 20px;
  text-align: center;
}

.interests,
.interests-description {
  text-align: end !important;
}

.description {
  background: transparent;
  text-align: start;
  padding-left: 0;
  padding-right: 0;
}

.description-link {
  display: block;
  width: 200px;
  text-align: center;
  margin-top: 15px;
  border-radius: 4px;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.description-link:hover {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.description-about {
  margin: 20px 10px 0;
  padding: 0 10px;
  text-align: start;

  @media (max-width: 480px) {
    margin: 0px;
  }
}

/* --------------- PROJECTS PAGE --------------- */

.works h1 {
  text-align: center;
  font-size: calc(2rem + 3vw);
  padding: 10px;
}

.works-container {
  padding: 0 80px;
  margin-bottom: 30px;
  @media (max-width: 920px) {
    padding: 0 30px;
  }
}

.card {
  margin: 10px;
}
.card-body {
  text-align: center;
}

.card-img {
  height: 450px;
  object-fit: cover;
}
.card-title {
  font-weight: 600;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
